body {
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
}

html {
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
    scroll-behavior: smooth;
}

p, li, h2, h3, h4, h5, h6 {
    font-family: 'Titillium Web', sans-serif !important;
}

.menu {
    width: 100vw;
    z-index: 100;
    top: 0;
    position: fixed;
}

.menu_bar {
    background-color: #841818;
    text-decoration: none;
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding-right: 80px;    
}

.logo {
    color: #fff;
    font-size: 25px;
    margin-top: 2%;
    font-family: 'Dancing Script', cursive !important;
    position: absolute;
    margin: 10px 0px 0px 20px;
    left: 0;
    cursor: default;
}

.lista_menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    display: flex;
    right: 0px;
}

li {
    display: flex;
    float: right;
    margin: 0px 15px;
    font-size: 15px;
}

li > a {
    display: block;
    text-align: center;
    padding: 12px 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: none;
    color: #FFF;    
    transition: .2s all;
}

li > a:hover {
    transition: .2s all;
    text-decoration: none;
    background-color: #660f0f;
    color: #fff;
}

.banner {
    background-image: url('../imagens/pastelaria.jpg');
    background-position: center center;
    width: 100%;
    height: 570px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.mascara {
    width: 100%;
    height: 570px;
    position:absolute;
    top:0;
    left:0;
    background-color: rgba(0, 0, 0, .5);
 }

.div_titulo {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.titulo_funcionario {
    font-size: 40px;
    color: #ffa500;
    margin-top: 100px;
    margin-bottom: 50px;
}

.div_sub {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    padding-left: 230px;
    padding-right: 210px;
}

.texto_funcionario {
    font-size: 20px;
}

.card_funcionario {
    margin: 5px 30px;
}

.funcionario_img {
    width: 130px;
    border-radius: 50%;
}

.nomes {
    text-align: center;
    margin-top: 40px;
}

.titulo_contato {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 35px;
    color: #ffa500;
    margin: 60px 0 40px 0;
}

/* Formulario de contato */

.container {
    width: 50%;
    margin: 0 auto;
  }
  
  .form-contact {
    width: 100%;
    font-family: "Arial", Times, serif;
    outline: none;
  }
  
  .form-contact-input {
    width: 50%;
    color: #292929;
    font-size: 18px;
    background-color: transparent;
    border: none;
    height: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid #ccc;
    text-indent: 20px;
    outline: none;
  }

  .form-contact-button {
    width: 30%;
    font-size: 18px;
    color: #fff;
    height: 40px;
    opacity: .8;
    margin-bottom: 20px;
    cursor: pointer;
    background: #ffa500;
    display: block;
    border: none;
    transition: .3s ease-in-out;
    margin: auto;
    margin-top: 50px;
    border-radius: 50px;
  }
  
  .form-contact-button:hover {
        background-color: transparent;
        color: #ffa500;
        border: 1px solid #ffa500;
  }

.contato_div {
    display: flex;
    text-align: center;
}

.footer {
    background-color: #333;
    padding: 100px;
    width: 100%;
}
.endereco {
    color: #fff;
}

.redes {
    color: #fff;
}

.logos_redes {
    margin: 5px 10px 5px 10px;
}

.sub {
    color: #841818;
    margin: 0px 0px 25px 0px;
}

.sub-div {
    text-align: center;
}

.infos {
    color: #fff;
}

/* Texto banner inicial */

.titulo_texto {
    color: #FFF;
    z-index: 10;
    font-size: 80px;
    font-family: 'Dancing Script', cursive !important;
}

.banner_texto {
    color: #FFF;
    z-index: 10;
    font-size: 40px;
    font-family: 'Dancing Script', cursive !important;
    margin: 0;
    padding: 0;
}

.div_texto {
    z-index: 10;
}

.btn_participe {
    background-color: #ffa500;
    color: #FFF;
    font-size: 22px;
    border: none;
    border-radius: 50px;
    padding: 5px 30px 10px 30px;
    border: 1px solid #ffa500;
    transition: .3s ease-in-out;
    margin-top: 20px;
}

.btn_participe:hover {
    background-color: transparent;
    border: 1px solid #fff;
}

.div_banner {
    left: 190px;
    position: absolute;
    z-index: 10;
    text-align: center;
}